/* General */
* {
	font-family: "PT Sans", sans-serif;
}

img,
embed,
object,
video {
	max-width: 100%;
}

.row {
	padding: 40px 20px 40px 20px;
}

.subtitle {
	font-size: 35px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	margin: auto auto 15px auto;
}

.icon {
	margin: 0 20px 0 0;
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
}


ul {
	list-style-type: none;
}


/* Red */
.red {
	background-color: #e6001c;
}

.red .subtitle {
	color: #000;
}

.red a,
.red .glyphicon,
.red .date-text {
	color: #fff;
}

/* Black */
.black {
	color: #fff;
	background-color: #000;
}

.black .subtitle {
	color: #ccc;
}
.black a {
	color: #fff !important;
	text-decoration: underline !important;
}
.black a:hover {
	color: #e6001c !important;
}

/* Header */
header {
	border-top: 50px solid #000;
	background-image: url(../images/header_background.jpg) !important;
	background-repeat: repeat-y;
}

.biopic {
	width: 100vh;
	height: 50vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px 20px 20px 0px;
}

#name {
	color: #e6001c;
	font-weight: bold;
	font-size: 60px;
	line-height: 1em;
}

.role {
	font-size: 28px;
	padding: 0;
	line-height: 1.2em;
	font-style: italic;
}

.welcome-message {
	font-size: 20px;
	color: #666;
	line-height: 1.8em;
	padding: 0;
}

/* Skills */
#skills .flex-item {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px 20px 0 0 !important;
}

/* General Sections */
.online-entry,
.education-entry,
.work-entry {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid black;
}

.online-entry:last-of-type,
.education-entry:last-of-type,
.work-entry:last-of-type,
.project-entry:last-of-type {
	border: 0px !important;
}

/* Mixed Sections */
.work-entry,
.education-entry {
	border-bottom: 1px dashed #90000d;
}

.work-entry .link,
.education-entry .link,
.online-entry .link {
	font-weight: normal;
	color: #fff;
	font-size: 25px;
}

.work-entry .employer,
.education-entry .school {
	color:#f7c2c5;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

.work-entry .link:hover,
.education-entry .link:hover {
	text-decoration: none;
}

.project-entry .date-text,
.online-entry .date-text,
.work-entry .date-text {
	font-size: 18px;
	color: #90000d;
	font-style: italic;
}

.date-text,
.project-entry .date-text,
.online-entry .date-text {
	color: #e6001c;
}

/* Work */
.work-entry .description {
	font-size: 18px;
	color: #000 !important;
}

/* Project */
.project-entry {
	margin: 30px 0 0 0;
}

.project-entry .date-text {
	font-style: normal;
}

.project-entry .description {
	margin-top: 15px;
	font-size: 16px;
	color: #666 !important;
}

/* Education */
.education-entry .date-text {
	font-size: 18px;
	color: #90000d;
}

.education-entry .major {
	font-weight: bold;
	font-size: 30px;
	color: #000 !important;
}

/* Online Courses*/
.online-entry {
	border-bottom: 1px dashed #ccc;
}

.online-entry .link {
	color: #e6001c;
	font-weight: bold;
}

.online-entry .school {
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

.online-entry .date-text {
	color: #666;
	font-size: 14px;
	font-weight: normal;
}

/* Map */
#map {
	height: 100%;
	margin: 0;
}

#mapDiv {
	height: 500px;
	width: 100%;
}

/* Medium Screens */
@media screen and (min-width: 768px) and (max-width: 991px) {
	#name {
		font-size: 50px;
	}

	.role {
		font-size: 23px;
	}

	.welcome-message {
		font-size: 16px;
	}

	header {
		background-image: url(../images/header_background_medium.jpg) !important;
	}

	.biopic {
		height: 50vh;
	}

	#headerTxt {
		padding: 0 0 0 160px;
	}
}

/* Small Screens */
@media screen and (max-width: 767px) {
	#name {
		font-size: 40px;
	}

	.role {
		font-size: 20px;
	}

	.welcome-message {
		font-size: 16px;
	}

	header {
		background-image: url(../images/header_background_small.jpg) !important;
	}

	.biopic {
		height: 35vh;
	}

	#headerTxt {
		padding: 0 0 0 80px;
	}

	.project-entry {
		padding: 0 0 20px 0;
		border-bottom: 1px dashed #999;
	}
}